/*******************************************/
/************* COLOR SCHEME ****************/
/*******************************************/
/* iPod Nano Color Scheme */
/* Beer Colors */
/*******************************************/
/*************** CSS RESET *****************/
/*******************************************/
/* Credit to Eric Meyer for a great starting point */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*******************************************/
/*********** MIX IN ATTRIBUTES *************/
/*******************************************/
/* Rounding and Shadows */
/*******************************************/
/************* COLOR CLASSES ***************/
/*******************************************/
.blue {
  color: #0d9fd8;
}
.charcoal {
  color: #787679;
}
.green {
  color: #8ad749;
}
.orange {
  color: #f8981f;
}
.pink {
  color: #f640ae;
}
.purple {
  color: #8569cf;
}
.red {
  color: #f80e27;
}
.silver {
  color: #e2e2e2;
}
.yellow {
  color: #eece00;
}
.background-blue {
  background-color: #0d9fd8;
}
.background-charcoal {
  background-color: #787679;
}
.background-green {
  background-color: #8ad749;
}
.background-orange {
  background-color: #f8981f;
}
.background-pink {
  background-color: #f640ae;
}
.background-purple {
  background-color: #8569cf;
}
.background-red {
  background-color: #f80e27;
}
.background-silver {
  background-color: #e2e2e2;
}
.background-yellow {
  background-color: #eece00;
}
/*******************************************/
/************* BASIC ELEMENTS **************/
/*******************************************/
::selection {
  background: #484848;
  color: #EEE;
}
::-moz-selection {
  background: #484848;
  color: #EEE;
}
html,
body {
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #282828;
  font-family: Segoe UI, Tahoma, Geneva, Sans-Serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  z-index: 0;
}
a {
  color: #282828;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #282828;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: inherit;
  margin: 4px 0 8px 0;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
p {
  line-height: inherit;
  padding: 4px 0 4px 0;
}
/*******************************************/
/************* GENERIC CLASSES *************/
/*******************************************/
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  /* the bottom margin is the negative value of the footer's height */

}
.container {
  padding-bottom: 8px;
}
.inner-polaroid {
  background-color: none;
  height: 100%;
  margin: 0;
  padding: 2px 6px 2px 6px;
}
.font-thin {
  font-family: Segoe UI Light, Segoe UI, Tahoma, Geneva, Sans-Serif;
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*******************************************/
/***************** HEADER ******************/
/*******************************************/
header {
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  background-color: #202023;
  box-shadow: 0 0 12px #555555;
  color: #e5e5e5;
  height: 24px;
  padding: 8px 0 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
}
#header-logo {
  margin-top: -5px;
}
header ul li {
  float: right;
  line-height: 28px;
  margin-left: 18px;
  margin-right: 2px;
}
header a {
  color: #e5e5e5;
  outline: none;
  padding: 0 2px 2px 2px;
}
header ul li a {
  border-bottom: 1px solid #202023;
}
header a:hover {
  border-bottom-color: #e5e5e5;
  transition: border-bottom-color 0.2s;
  -moz-transition: border-bottom-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: border-bottom-color 0.2s;
  /* Safari and Chrome */

  -o-transition: border-bottom-color 0.2s;
  /* Opera */

}
header a:hover,
header a:focus,
header a:visited,
header a:active {
  color: #e5e5e5;
  outline: none;
}
/*******************************************/
/***************** CONTENT *****************/
/*******************************************/
.content {
  margin-top: 52px;
}
.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"] {
  width: 95%;
}
.search-surround {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #808083;
  margin: 10px 0 16px 0;
  padding: 4px 12px 4px 12px;
}
.search-box {
  background-image: url('../img/search-black-light.png');
  background-repeat: no-repeat;
  background-position: 99%;
  margin-top: 10px;
  width: 98%;
}
.search-box:hover,
.search-box:focus {
  background-image: url('../img/search-black.png');
}
.search-btn {
  margin-left: 2%;
  margin-top: 11px;
  width: 100%;
}
.well {
  background-color: #f3dea0;
  border-color: #d2ad3d;
}
.well:hover {
  background-color: #eac556;
  cursor: pointer;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: background-color 0.2s;
  /* Safari and Chrome */

  -o-transition: background-color 0.2s;
  /* Opera */

}
.hero-unit {
  background-color: #d2ad3d;
}
.table {
  font-size: 14px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f2db96;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #efd381;
}
.well a:hover,
.well a:focus {
  color: #282828;
}
/*******************************************/
/****************** BEER *******************/
/*******************************************/
.reviews {
  border-top: 1px solid #CCC;
  margin-top: 16px;
  padding-top: 8px;
}
.review-entry {
  margin-bottom: 12px;
}
.review-entry .title {
  font-weight: bold;
}
.reviews .well {
  border: 1px solid #CCC;
  background-color: #FFF;
  padding-top: 8px;
  padding-bottom: 8px;
}
.reviews .well:hover {
  cursor: auto;
}
#show-review {
  float: left;
  margin-left: 12px;
  margin-top: 2px;
}
#review-input {
  display: none;
  width: 100%;
}
#review-input select {
  width: 100px;
}
#review-input select:focus {
  outline: none;
}
#review-input textarea {
  height: 64px;
  resize: none;
  width: 99%;
}
#submit-review {
  float: right;
}
/*******************************************/
/***************** FOOTER ******************/
/*******************************************/
footer {
  background-color: #48484f;
  color: #e5e5e5;
  height: 36px;
  padding-top: 4px;
}
footer ul li {
  float: right;
  line-height: 28px;
  margin-left: 18px;
  margin-right: 2px;
}
footer a {
  color: #e5e5e5;
  outline: none;
  padding: 0 2px 2px 2px;
}
footer ul li a {
  border-bottom: 1px solid #48484f;
}
footer a:hover {
  border-bottom-color: #e5e5e5;
  transition: border-bottom-color 0.2s;
  -moz-transition: border-bottom-color 0.2s;
  /* Firefox 4 */

  -webkit-transition: border-bottom-color 0.2s;
  /* Safari and Chrome */

  -o-transition: border-bottom-color 0.2s;
  /* Opera */

}
footer a:hover,
header a:focus,
header a:visited,
header a:active {
  color: #e5e5e5;
  outline: none;
}
.push {
  height: 40px;
}
